// https://stackoverflow.com/questions/56682958/running-mocha-6-es6-tests-with-babel-7-how-to-set-up
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": ["@babel/transform-runtime", "@babel/proposal-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": ["**/*.spec.js", "**/*.test.js"],
            "useInlineSourceMaps": false
          }
        ]
      ]
    }
  }
}
